[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytz = "==2020.1"
python-slugify = "==4.0.1"
pillow = "==7.2.0"
argon2-cffi = "==20.1.0"
whitenoise = "==5.2.0"
unidecode = "==1.1.1"
django = "==3.1.1"
django-environ = "==0.4.5"
django-model-utils = "==4.0.0"
django-allauth = "==0.42.0"
django-crispy-forms = "==1.9.2"
django-autoslug = "==1.9.8"
werkzeug = "==1.0.1"
ipdb = "==0.13.3"
psycopg2-binary = "==2.8.6"
mypy = "==0.770"
django-stubs = "==1.5.0"
pytest = "==6.0.1"
django-test-plus = "==1.4.0"
flake8 = "==3.8.3"
coverage = "==5.2.1"
black = "==20.8b1"
pre-commit = "==2.7.1"
factory-boy = "==3.0.1"
django-debug-toolbar = "==2.2"
django-extensions = "==3.0.8"
django-coverage-plugin = "==1.8.0"
pytest-django = "==3.9.0"

[requires]
python_version = "3.8"
